/*
 * WPPB - Profile Builder -
*/

//ALERTS
.doenanova_alert {
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #6f6794;
	background: #f9f8ff;
	padding: 10px;

	img {
		display: none;
	}
}

.et-db #et-boc .et-l .et_pb_text {
	#wppb_form_general_message,
	.wppb-alert,
	#wppb_register_pre_form_message,
	p.wppb-error {
		@extend .doenanova_alert;
	}
}

//STRUCTURE
.doenanova_wppb-form-title {
	display: none;
}
.doenanova_wppb_1 {
	text-align: left;
}
.doenanova_wppb_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.doenanova_wppb_li {
	margin: 10px 0;
	list-style: none;
}
.doenanova_wppb_label {
	display: block;
	font-size: 12px;
	margin: 5px 10px;
}
.doenanova_wppb_input {
	display: block;
	border-radius: 0.25rem;
	border: 1px solid #dfdfe0;
	padding: 10px 15px;
	width: 100%;
	font-size: 16px;

	&:focus {
		outline: none;
		border-color: #bbb;
	}
}
.doenanova_wppb_description-delimiter {
	font-size: 10px;
	text-align: center;
	display: block;
	width: 100%;
	margin: 0;
}
.doenanova_wppb_button {
	display: block;
	width: 100%;
	border: none;
	background: #efeff3;
	padding: 15px;
	font-size: 16px;
	border-radius: 0.25rem;
	text-align: center;

	&:hover {
		background: #c9cdda;
		cursor: pointer;
	}

	&:focus {
		outline: none;
		background: #c9cdda;
	}

	&:active {
		background: #aeb4c7;
	}
}
.doenanova_wppb_img {
	display: none;
}
.doenanova_wppb_form_error {
	text-align: center;
	font-size: 10px;
	color: #b11034;
	background: #fdf6f6;
	margin: 0 20px 20px;
	padding: 10px;
	display: block;
}

//LOGIN FORM
.et-db #et-boc .et-l .et_pb_text {
	.wppb-form-title {
		@extend .doenanova_wppb-form-title;
	}
	form#wppb-loginform {
		@extend .doenanova_wppb_1;

		p.login-username,
		p.login-password {
			@extend .doenanova_wppb_li;

			label {
				@extend .doenanova_wppb_label;
			}

			input {
				@extend .doenanova_wppb_input;
			}
		}

		#itsec-recaptcha-opt-in {
			@extend .doenanova_alert;
			margin-bottom: 15px;
		}

		p.login-remember {
			text-align: center;
			font-size: 14px;
			display: block;

			label {
				vertical-align: super;
			}

			input {
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}
		}

		p.login-submit {
			input.button {
				@extend .doenanova_wppb_button;
			}
		}
	}
	.login-register-lost-password {
		@extend .doenanova_wppb-form-title;
	}
}

//REGISTER FORM
.et-db #et-boc .et-l .et_pb_text {
	.wppb-form-title {
		@extend .doenanova_wppb-form-title;
	}
	form#wppb-register-user {
		@extend .doenanova_wppb_1;

		ul {
			@extend .doenanova_wppb_ul;

			li.wppb-form-field {
				@extend .doenanova_wppb_li;

				label {
					@extend .doenanova_wppb_label;

					// span {
					// }

					img {
						@extend .doenanova_wppb_img;
					}
				}

				input {
					@extend .doenanova_wppb_input;
				}

				span.wppb-description-delimiter {
					@extend .doenanova_wppb_description-delimiter;
				}

				#pass-strength-result {
					@extend .doenanova_wppb_description-delimiter;

					margin-bottom: 20px;

					&.short,
					&.bad {
						color: $danger;
					}
					&.good,
					&.strong {
						color: $success;
					}
				}

				span.wppb-form-error {
					@extend .doenanova_wppb_form_error;
				}
			}
		}

		p.form-submit {
			input.button {
				@extend .doenanova_wppb_button;
			}
		}
	}
}

//EDIT PROFILE FORM
#wppb-forms_style_default-wrapper {
	.wppb-form-title {
		@extend .doenanova_wppb-form-title;
	}
}
form#select_user_to_edit_form {
	@extend .doenanova_wppb_1;
	background-color: #eee;
	padding: 5%;
	margin-top: 10px;
	border-radius: 0.25rem;

	p {
		label {
			display: block;
		}

		.select2-container {
			width: 100% !important;
			margin-top: 10px;
		}
	}
}

form#wppb-edit-user {
	@extend .doenanova_wppb_1;

	ul {
		@extend .doenanova_wppb_ul;

		li.wppb-form-field {
			@extend .doenanova_wppb_li;

			label {
				@extend .doenanova_wppb_label;

				// span.wppb-required {
				// }

				img {
					@extend .doenanova_wppb_img;
				}
			}

			input.text-input {
				@extend .doenanova_wppb_input;
			}

			span.wppb-description-delimiter {
				@extend .doenanova_wppb_description-delimiter;
			}

			#pass-strength-result {
				@extend .doenanova_wppb_description-delimiter;

				margin-bottom: 20px;

				&.short,
				&.bad {
					color: $danger;
				}
				&.good,
				&.strong {
					color: $success;
				}
			}

			span.wppb-form-error {
				@extend .doenanova_wppb_form_error;
			}

			&.wppb-default-username {
				color: #ccc;

				input[disabled="disabled"] {
					color: #ccc;
				}
			}
		}
	}

	p.form-submit {
		input.button {
			@extend .doenanova_wppb_button;
		}
	}
}

.wppb-front-end-logout {
	text-align: center;
}

// FORGOT PASSWORD FORM
.et-db #et-boc .et-l .et_pb_text {
	.wppb-form-title {
		@extend .doenanova_wppb-form-title;
	}
	form#wppb-recover-password {
		@extend .doenanova_wppb_1;

		p:not(.form-submit) {
			@extend .doenanova_alert;
		}

		ul {
			@extend .doenanova_wppb_ul;

			li.wppb-form-field {
				@extend .doenanova_wppb_li;

				label {
					@extend .doenanova_wppb_label;

					// span.wppb-required {
					// }

					img {
						@extend .doenanova_wppb_img;
					}
				}

				input.text-input,
				input.password {
					@extend .doenanova_wppb_input;
				}

				span.wppb-description-delimiter {
					@extend .doenanova_wppb_description-delimiter;
				}

				#pass-strength-result {
					@extend .doenanova_wppb_description-delimiter;

					margin-bottom: 20px;

					&.short,
					&.bad {
						color: $danger;
					}
					&.good,
					&.strong {
						color: $success;
					}
				}

				span.wppb-form-error {
					@extend .doenanova_wppb_form_error;
				}

				&.wppb-default-username {
					color: #ccc;

					input[disabled="disabled"] {
						color: #ccc;
					}
				}
			}
		}

		p.form-submit {
			input.button {
				@extend .doenanova_wppb_button;
			}
		}
	}
}
