/*! My very own Bootstrap theme
 *  Built with the Bootstrap Theme Kit by HackerThemes (https://hackerthemes.com)
 * v20
 */
@import "custom-variables";
@import "../gulp/node_modules/bootstrap/scss/bootstrap";

.navbar-brand {
    svg {
        fill: var(--bs-emphasis-color);
    }
}

.disciplinas-nav {
    position: relative;
    // scrollbar-width: none; /* Firefox */
    // -ms-overflow-style: none; /* IE and Edge */

    // &:after {
    //     content: "➤";
    //     display: flex;
    //     background: #eee;
    //     position: absolute;
    //     width: 30px;
    //     height: 100%;
    //     top: 0;
    //     right: 0;
    //     color: #ccc;
    //     align-items: center;
    //     justify-content: center;
    // }

    ul {
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
            width: 0 !important;
        }
        li {
            a {
                &.active {
                    background: linear-gradient(125deg, #3faffd, #259dfc, #6e56d7);
                }
            }
        }
    }

    .disciplinas-nav-scroll-handles-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
    .disciplinas-nav-scroll-handles-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}
